* {
    margin: 0;
    padding: 0;
}
#root {
    width: 100vw ;
    height: 100vh;
    overflow: hidden;
    position: relative ;
}
#canvas {
    /* cursor: crosshair; */
}

#top {
    position: absolute;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding: 10px;
}
#top > .options{ 
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 10px; 
    border-radius: 10px;
    padding: 4px 20px; 
    box-shadow: 2px 2px 6px #E1E1E1;
}
.menu {
    background-color: #ECECF3;
    border-radius: 4px;
}
.btn {
    border: none ;
    padding: 4px 6px; 
    background-color: transparent;
    cursor: pointer;
    font-size: 16px !important;
}
.btn:hover{
    background-color: #ECECF3;
    border-radius: 4px;
}
.active {
    background-color: #3a34eb;
    border-radius: 4px;
    color: white;
}

#bottom {
    position: absolute;
    z-index: 100;
    left: 20px;
    bottom: 20px;
}
#bottom > .options {
    background-color: #d1d1f2;
    padding: 4px 10px;
    border-radius: 5px;
}

#bottom {
    display: flex;
    position: absolute;
    z-index: 5;
    left: 20px;
    bottom: 20px;
    gap: 1rem;
  }
  .bottom1 {
    display: flex;
    border-radius: 10px;
    background-color: #ececf4;
  }
  .bottom1 button {
    border: none;
    cursor: pointer;
  }
  .reset-zoom-button {
    border-left: 0 !important;
    border-right: 0 !important;
    padding: 0 0.625rem !important;
    width: 3.75rem !important;
    justify-content: center;
    border: none;
    cursor: pointer;
  }
  .bottom2 {
    display: flex;
    border-radius: 10px;
    background-color: #ececf4;
  }
  .bottom2 button {
    border: none;
    cursor: pointer;
  }
  .bottom3 {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 4;
    right: 30px;
    bottom: 20px;
    gap: 1rem;
  
    border-radius: 5px;
  }
  .bottom3 button {
    border: none;
    cursor: pointer;
  }